.circle-button {
	height: 48px;
	  width: 48px;
	  min-height: 48px;
	  min-width: 48px;
	  border-radius: 99px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  content: '';
	  border: none;
	  outline: none;
	  font-weight: 600;
	  font-size: 16px;
}

h3, .h3 {
	//styleName: Sans/Header 3;
	/* font-family: Inter; */
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.011em;
	text-align: left;
	
}