.circle-button {
	height: 48px;
	  width: 48px;
	  min-height: 48px;
	  min-width: 48px;
	  border-radius: 99px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  content: '';
	  border: none;
	  outline: none;
	  font-weight: 600;
	  font-size: 16px;
}

h3, .h3 {
	//styleName: Sans/Header 3;
	/* font-family: Inter; */
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: -0.011em;
	text-align: left;
	
}

.bg-avatar {
	background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/9137771/original_9db03738b0a1bd7aa889873fcca5c5a3.png?1602866620?bc=0');
	background-size: cover;
	background-position: center;
}

.bg-avatar-britney {
	background-image: url('https://d2w9rnfcy7mm78.cloudfront.net/12231200/original_187dd63b10ceda0ad6ae320f63218c45.png?1623359413?bc=0');
	background-size: cover;
	background-position: center;
}